@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.app {
  text-align: center;
  /* margin-top: 100px; */
  width: 35%;
  display: block;
  position: absolute;
  top: 20%;
  left: 30%;
  padding: 10px;
}

.header {
  font-size: 36px;
  color: #04043c;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}

.input-text {
  width: 80%;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  resize: none;
}

.word-count {
  font-size: 20px;
  color: #3B3B3B;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-align: left;
  margin-left: 8%;
}
